body {
    font-family: Cambria;
    text-align: center;
    padding: 15px;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}
h2{
    font-size: 36px;
    align-items: center;
    justify-content: center;
    display: flex;
}
label{
    display: block;
    justify-content: center;
    margin-bottom: 7px;
    font-weight: bold;
}
input, select{
    width: 300px;
    height: 33px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}
#Button{
    width: 16%;
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}
#Button:hover{
    background-color: darkblue;
}
login{
    color: blue;
    text-decoration: none;
}
